<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <style>
        p {
            color: red;
        }

        footer {
            position: fixed;
            bottom: 0px;
            left: 0px;
            right: 0px;
            margin-bottom: 0px;
        }

        hr {
            color: #00cccc;
        }
    </style>
</head>
<body>

<div class="container">
    <form th:object="${employeeDto}" class="well form-horizontal" action="/employees/edit-employee" method="post">
        <a href="/employees">
            <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-chevron-left"></span> Back to
                list
            </button>
        </a>

        <fieldset>
            <!-- Form Name -->
            <legend>
                <center><h2><b>Edit Form <br> <span th:text="${mes}"></span> </b></h2></center>
            </legend>
            <br>
            <input th:field="*{id}" hidden>
            <div class="form-group">
                <label class="col-md-4 control-label">Division</label>
                <div class="col-md-4 selectContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <select th:field="*{division}" class="form-control selectpicker">
                            <option th:each="d : ${divisionList}"
                                    th:value="${d.id}"
                                    th:text="${d.divisionName}">
                            </option>
                        </select>
                    </div>
                    <p th:errors="*{division}"></p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label">Education</label>
                <div class="col-md-4 selectContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <select th:field="*{educationDegree}" class="form-control selectpicker">
                            <option th:each="e : ${educationDegreeList}"
                                    th:value="${e.id}"
                                    th:text="${e.educationDegreeName}">
                            </option>
                        </select>
                    </div>
                    <p th:errors="*{educationDegree}"></p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label">Position</label>
                <div class="col-md-4 selectContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list"></i></span>
                        <select th:field="*{position}" class="form-control selectpicker">
                            <option th:each="p : ${positionList}"
                                    th:value="${p.id}"
                                    th:text="${p.positionName}">
                            </option>
                        </select>
                    </div>
                    <p th:errors="*{position}"></p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label ">Name</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input  th:field="*{employeeName}" placeholder="Name" class="form-control"  type="text">
                    </div>
                    <p th:errors="*{employeeName}"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label ">BirthDay</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input  th:field="*{employeeBirthday}" placeholder="BirthDay" class="form-control"  type="date">
                    </div>
                    <p th:errors="*{employeeBirthday}"></p>
                </div>
            </div>



            <div class="form-group">
                <label class="col-md-4 control-label">Id Card</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input th:field="*{employeeIdCard}"  class="form-control" type="number">
                    </div>
                    <p th:errors="*{employeeIdCard}"></p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label">Salary</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input th:field="*{employeeSalary}"  class="form-control" type="number">
                    </div>
                    <p th:errors="*{employeeSalary}"></p>
                </div>
            </div>




            <div class="form-group">
                <label class="col-md-4 control-label">Phone Number</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
                        <input th:field="*{employeePhone}" placeholder="(84)" class="form-control" type="number">
                    </div>
                    <p th:errors="*{employeePhone}"></p>
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label">E-Mail</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input th:field="*{employeeEmail}" placeholder="E-Mail Address" class="form-control"  type="email">
                    </div>
                    <p th:errors="*{employeeEmail}"></p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label ">Address</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                        <input  th:field="*{employeeAddress}" placeholder="Address" class="form-control"  type="text">
                    </div>
                    <p th:errors="*{employeeAddress}"></p>
                </div>
            </div>
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            <button type="submit" class="btn btn-warning"><span class="glyphicon glyphicon-send"></span>Submit</button>
        </fieldset>
    </form>
</div>
</div>
</body>
</html>