<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layuot :: head}">

</head>

<body>

<div th:replace="~{layuot :: hearder}">
</div>
<div style="background: azure">
    <div style="margin-top: 50px">
        <a href="/employees/create-employee">
            <button type="button" class="btn btn-primary"> ++Create Employee</button>
        </a>
    </div>
    <div style=" text-align: right">
        <a href="/home">
            <button type="button" class="btn btn-warning">Back to home</button>
        </a>
    </div>
    <h1 style="color: blue; text-align: center;">Employee</h1>

    <th:block th:if="${mes}">
        <p th:text="${mes}"></p>
    </th:block>


    <form class="d-flex justify-content-end">
        <input class="form-control" type="search" placeholder="Search name" aria-label="Search"
               name="search">
        <button class="btn btn-primary  my-sm-0" type="submit">Search</button>
    </form>
</div>


<table class="table table-bordered table-striped ">
    <tr>
        <td>#</td>
        <td>Employee Name</td>
        <td>Birthday</td>
        <td>ID Card</td>
        <td>Employee Salary</td>
        <td>Number Phone</td>
        <td>Email</td>
        <td>Address</td>
        <td>Position</td>
        <td>Division</td>
        <td>EducationDegree</td>
        <td>Edit</td>
        <td>Delete</td>
    </tr>

    <th:block th:each="employee,state : ${employees}">
        <tr>

            <td th:text="${state.count}"></td>
            <td th:text="${employee.employeeName}"></td>
            <td th:text="${employee.employeeBirthday}"></td>
            <td th:text="${employee.employeeIdCard}"></td>
            <td th:text="${employee.employeeSalary}"></td>
            <td th:text="${employee.employeePhone}"></td>
            <td th:text="${employee.employeeEmail}"></td>
            <td th:text="${employee.employeeAddress}"></td>
            <td th:text="${employee.position.positionName}"></td>
            <td th:text="${employee.division.divisionName}"></td>
            <td th:text="${employee.educationDegree.educationDegreeName}"></td>
            <td><a th:href="@{/employees/edit-employee/__${employee.id}__}" class="btn btn-primary">Edit</a></td>
            <td>
                <button class="btn btn-danger" data-toggle="modal" data-target="#myModal"
                        th:data-parameter1="${employee.id}" th:data-parameter2="${employee.employeeName}"
                        onclick="showModal(this.getAttribute('data-parameter1'),this.getAttribute('data-parameter2'))">
                    Delete
                </button>
            </td>
        </tr>
    </th:block>
</table>


<!--modal-->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form th:action="@{/employees/delete-employee}" method="get">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Accept delete Employee </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Do you want to delete: <h5 id="employeeName">???</h5>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-secondary" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-danger btn-ok" id="delete" value="Delete">
                    <input type="hidden" id="employeeId" name="id">
                </div>
            </div>
        </form>

    </div>
</div>

<!--#region phân trang-->
<div>
    <a class="btn btn-outline-success" th:href="@{'/employees'(page=${employees.number - 1},keyWord=${search})}"
       th:if="${employees.hasPrevious()}">Previous</a>
    <span th:each="p : ${#numbers.sequence(0,employees.totalPages - 1) }" th:if="${employees.hasContent()}">
          <a class="btn btn-outline-success" th:href="@{'/employees'(page=${p},keyWord=${search})}"
             th:text="${p+1}"
             th:if="${(p>(employees.number)-1)&&(p<(employees.number+3))}"
          ></a>
    </span>
    <a class="btn btn-outline-success" th:href="@{'/employees'(page=${employees.number + 1},keyWord=${search})}" th:if="${employees.hasNext()}">Next</a>
</div>



<script>
    function showModal(id, name) {
        document.getElementById("employeeId").value = id;
        document.getElementById("employeeName").innerText = name;
    }
</script>
</body>
</html>