<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Customers </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>


</head>

<body>
<div style="background: azure">
    <div style="margin-top: 50px">
        <a href="/employee/create-employee">
            <button type="button" class="btn btn-primary"> ++Create Employee</button>
        </a>
    </div>
    <div style=" text-align: right">
        <a href="/home">
            <button type="button" class="btn btn-warning">Back to home</button>
        </a>
    </div>
    <h1 style="color: blue; text-align: center;">Employee</h1>

    <th:block th:if="${mes}">
        <p th:text="${mes}"></p>
    </th:block>


    <form class="d-flex justify-content-end">
        <input class="form-control" type="search" placeholder="Search name" aria-label="Search"
               name="search">
        <button class="btn btn-primary  my-sm-0" type="submit">Search</button>
    </form>
</div>


<table class="table table-hover my-2" id="tableCustomer">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Position</th>
        <th scope="col">Division</th>
        <th scope="col">Degree</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="e, loop : ${employees}">
        <th th:text="${loop.count}"></th>
        <td th:text="${e.id}"></td>
        <td th:text="${e.employeeName}"></td>
        <td th:text="${e.employeePhone}">}</td>
        <td th:text="${e.position.positionName}"></td>
        <td th:text="${e.division.divisionName}"></td>
        <td th:text="${e.educationDegree.educationDegreeName}"></td>
        <td>
            <a th:href="@{/employees/edit/{id}(id=${e.id})}" type="button" class="btn btn-warning">
                Edit
            </a>
        </td>
        <td>
            <button th:data-parameter1="${e.id}" th:data-parameter2="${e.employeeName}"
                    onclick="myFunction(this.getAttribute('data-parameter1'),this.getAttribute('data-parameter2'))"
                    type="button"
                    class="click-del btn btn-danger btnDisplay"
                    data-toggle="modal" data-target="#delete">
                Delete
            </button>


<!-- Modal -->
<div class="modal fade" id="delete" tabindex="-1" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body fborder border-secondary rounded">
                Do you want customer?
                <br><h3>Name:<span id="delCustomerName"></span></h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="/employees/delete" method="post">
                    <button type="submit" class="btn btn-danger">Delete</button>
                    <input type="hidden" id="button-del" name="idDel">
                </form>
            </div>
        </div>
    </div>
</div>
<!--end model-->


</td>
</tr>
</tbody>
</table>


<!--#region phân trang-->
<div>
    <a class="btn btn-outline-success" th:href="@{'/employees'(page=${employees.number - 1},keyWord=${search})}"
       th:if="${employees.hasPrevious()}">Previous</a>
    <span th:each="p : ${#numbers.sequence(0,employees.totalPages - 1) }" th:if="${employees.hasContent()}">
          <a class="btn btn-outline-success" th:href="@{'/employees'(page=${p},keyWord=${search})}"
             th:text="${p+1}"
             th:if="${(p>(employees.number)-1)&&(p<(employees.number+3))}"
          ></a>
    </span>
    <a class="btn btn-outline-success" th:href="@{'/employees'(page=${employees.number + 1},keyWord=${search})}" th:if="${employees.hasNext()}">Next</a>
</div>



<script>
    function myFunction(id, name) {
        document.getElementById("button-del").value = id;
        document.getElementById("delCustomerName").innerText = name;
    }
</script>
</body>
</html>