<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <style>
        p {
            color: red;
        }

        footer{
            position:fixed;
            bottom:0px;
            left:0px;
            right:0px;
            margin-bottom:0px;
        }
        hr{
            color: #00cccc;
        }
    </style>
</head>
<body>

<div class="container">
    <form  th:object="${userDto}" class="well form-horizontal" action="/create" method="post">

        <fieldset>
            <!-- Form Name -->
            <legend><center><h2><b>Create Form <br> </b></h2></center></legend><br>

            <div class="form-group">
                <label class="col-md-4 control-label ">First Name : </label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input  th:field="*{firstName}" placeholder="First Name" class="form-control"  type="text">
                    </div>
                    <p th:errors="*{firstName}"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label ">Last Name :</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input  th:field="*{lastName}" placeholder="Last Name" class="form-control"  type="text">
                    </div>
                    <p th:errors="*{lastName}"></p>
                </div>
            </div>


            <div class="form-group">
                <label class="col-md-4 control-label">Number Phone </label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                        <input  th:field="*{numberPhone}" placeholder="PhoneNumber" class="form-control"  type="text">
                    </div>
                    <p th:errors="*{numberPhone}"></p>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label">Age</label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input th:field="*{age}"  class="form-control" type="number">
                    </div>
                    <p th:errors="*{age}"></p>
                </div>
            </div>

            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            <button type="submit" class="btn btn-warning" ><span class="glyphicon glyphicon-send"></span>Submit</button>
        </fieldset>
    </form>
</div>
</div>
</body>
</html>