<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h3>Blog</h3>


<p>
    <a th:href="@{/blog/create}">
        Add new Blog
    </a>
</p>

<div class="notify">
    <div th:if="${message}">
        <span th:text="${message}"></span>
    </div>
</div>

<table id="products">
    <thead>
    <tr>
        <th>STT</th>
        <th> Name</th>
        <th>Context</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row, state : ${blogs}">
        <td th:text="${state.count}"></td>
        <td th:text="${row.name}"></td>
        <td th:text="${row.context}"></td>
        <td><a th:href="@{/blog/{id}/edit(id=${row.id})}">edit</a></td>
        <td><a th:href="@{/blog/{id}/delete(id=${row.id})}">delete</a></td>
        <td><a th:href="@{/blog/{id}/view(id=${row.id})}">view</a></td>
    </tr>
    </tbody>
</table>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>