<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trang List</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>
<body>
<h2 style="color: blue;margin-bottom: 50px;margin-top: 50px">List Book </h2>
<table class="table table-bordered table-striped  ">
    <tr>
        <th>STT</th>
        <th>ID</th>
        <th>Book's name</th>
        <th>Quantity</th>

    </tr>
    <tr th:each="book, state: ${books}">
        <td th:text="${state.count}"/>
        <td th:text="${book.id}"/>
        <td><a th:href="@{/view(id=${book.id})}"><label th:text="${book.name}"></label></a></td>
        <td th:text="${book.quantity}"></td>
    </tr>


</table>

<button><a href="/pay"> Pay </a></button>
</body>
</html>