<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layuot :: head}">
</head>

<body>

<div th:replace="~{layuot :: hearder}">
</div>
<div style="background: azure">
    <div style=" display:inline-block;width: 60%; float: left ; margin: 15px 5%">
        <a href="/customers/create-customer">
            <button type="button" class="btn btn-primary"> ++Create customer</button>
        </a>
    </div>
    <div style=" text-align: right; display: inline-block; width: 20% ; margin:15px 5%">
        <a href="/home">
            <button type="button" class="btn btn-warning">Back to home</button>
        </a>
    </div>
<!--    <h1 style="color: blue; text-align: center">Customer</h1>-->

    <th:block th:if="${mes}">
        <p style="color: red" th:text="${mes}"></p>
    </th:block>



</div>


<div style="margin: 15px 5%">

    <div style="margin: 10px">
        <form class="d-flex justify-content-end" action="/customers" method="get" >
            <input class="form-control" name="search" type="search" placeholder="Name or BirthDay or IdCard">
            <input class="btn btn-primary" type="submit" value="Search">
        </form>
    </div>
    <table class="table table-bordered table-striped ">
        <tr>
            <td>NO</td>
            <td>Customer code</td>
            <td>Customer type</td>
            <td>Customer Name</td>
            <td>Birthday</td>
            <td>Gender</td>
            <td>ID Card</td>
            <td>Number Phone</td>
            <td>Email</td>
            <td>Address</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>

        <th:block th:each="customer,loop : ${customers}">
            <tr>

                <td th:text="${loop.count}"></td>
                <td th:text="${customer.customerCode}"></td>
                <td th:text="${customer.customerType.customerTypeName}"></td>
                <td th:text="${customer.customerName}"></td>
                <td th:text="${customer.customerBirthDay}"></td>
                <th:block>
                    <td th:if="${customer.customerGender=='1'}" th:text="Male"></td>
                    <td th:if="${customer.customerGender=='0'}" th:text="Fmale"></td>
                    <td th:if="${customer.customerGender=='2'}" th:text="Other"></td>
                </th:block>
                <td th:text="${customer.customerIdCard}"></td>
                <td th:text="${customer.customerPhone}"></td>
                <td th:text="${customer.customerEmail}"></td>
                <td th:text="${customer.customerAddress}"></td>
                <td ><a th:href="@{/customers/edit-customer/__${customer.id}__}" class="btn btn-primary">Edit</a></td>
                <td>
                    <input type="checkbox" class="listId" id="listId" name="listId" th:value="${customer.id}">
                </td>
            </tr>

        </th:block>
        <tr>
            <td colspan="11"></td>

            <td>
                <button class="bi bi-trash btn btn-danger" data-toggle="modal" data-target="#myModal"
                        onclick="showModal()" >
                    Delete
                </button>
            </td>
        </tr>
    </table>

    <!--phan trang-->
    <div>
        <a class="btn btn-outline-dark  text-black"
           th:href="@{'/customers'(page=${customers.number - 1},search=${search})}"
           th:if="${customers.hasPrevious()}"> <span style="font-weight: bold"> < </span>
        </a>
        <span th:each="p : ${#numbers.sequence(0,customers.totalPages -1)}" th:if="${customers.hasContent()}">
          <a class="btn btn-outline-dark" style="text-decoration: none"
             th:href="@{'/customers'(page=${p},search=${search})}"
             th:text="${p +1}"
             th:if="${(p >(customers.number)-1)&&(p <(customers.number+2))}"
          ></a>
    </span>
        <a class="btn btn-outline-dark   text-black"
           th:href="@{'/customers'(page=${customers.number + 1},search=${search})}"
           th:if="${customers.hasNext()}">
            <span style="font-weight: bold"> > </span>
        </a>
    </div>
</div>


<!--modal-->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form th:action="@{/customers/delete-customer}" method="get">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Accept delete customer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Do you want to delete  ???</h5>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-secondary" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-danger btn-ok" id="delete" value="Delete">
                    <input type="hidden" id="customerId" name="listId">
                </div>
            </div>
        </form>

    </div>
</div>




<!-- script modal delete-->

<script>
    function showModal() {
        let a = document.getElementsByClassName("listId");
        let b = [];
        for (let i = 0; i < a.length; i++) {
            if (a[i].checked) {
                b.push(a[i].value);
            }
        }
        document.getElementById("customerId").value = b;
    }

</script>
</body>
</html>