<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layuot :: head}">

</head>


</head>

<body>

<div th:replace="~{layuot :: hearder}">
</div>
<div style="background: azure">
    <div style="margin-top: 50px">
        <a href="/services/create-service">
            <button type="button" class="btn btn-primary"> ++Create Service</button>
        </a>
    </div>
    <div style=" text-align: right">
        <a href="/home">
            <button type="button" class="btn btn-warning">Back to home</button>
        </a>
    </div>
    <h1 style="color: blue; text-align: center;">Service</h1>

    <th:block th:if="${mes}">
        <p th:text="${mes}" style="color: chartreuse"></p>
    </th:block>

</div>


<table class="table table-bordered table-striped ">
    <tr>
        <td>#</td>
        <td>serviceType</td>
        <td>rentType</td>
       <td>serviceName</td>
        <td>serviceCode</td>
       <td>serviceArea</td>
       <td>serviceCost</td>
       <td>serviceMaxPeople</td>
       <td>standardRoom</td>
       <td>descriptionOtherConvenience</td>
       <td>poolArea</td>
       <td>numberOfFloors</td>
       <td>Delete</td>

    </tr>

    <th:block th:each="s,state : ${services}">
        <tr>

            <td th:text="${state.count}"></td>
            <td th:text="${s.serviceType.serviceTypeName}"></td>
            <td th:text="${s.rentType.rentTypeName}"></td>
            <td th:text="${s.serviceName}"></td>
            <td th:text="${s.serviceCode}"></td>
            <td th:text="${s.serviceArea}"></td>
            <td th:text="${s.serviceCost}"></td>
            <td th:text="${s.serviceMaxPeople}"></td>
            <td th:text="${s.standardRoom}"></td>
            <td th:text="${s.descriptionOtherConvenience}"></td>
            <td th:text="${s.poolArea}"></td>
            <td th:text="${s.numberOfFloors}"></td>
            <td>
                <button class="btn btn-danger" data-toggle="modal" data-target="#myModal"
                        th:data-parameter1="${s.id}"
                        onclick="showModal(this.getAttribute('data-parameter1'))">
                    Delete
                </button>
            </td>
        </tr>
    </th:block>
</table>

<div>
    <a class="btn btn-outline-success" th:href="@{'/services'(page=${services.number - 1})}"
       th:if="${services.hasPrevious()}">Previous</a>
    <span th:each="p : ${#numbers.sequence(0,services.totalPages - 1) }" th:if="${services.hasContent()}">
          <a class="btn btn-outline-success" th:href="@{'/services'(page=${p})}"
             th:text="${p+1}"
             th:if="${(p>(services.number)-1)&&(p<(services.number+3))}"
          ></a>
    </span>
    <a class="btn btn-outline-success" th:href="@{'/services'(page=${services.number + 1})}" th:if="${services.hasNext()}">Next</a>
</div>

<!--modal-->
<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form th:action="@{/services/delete-service}" method="get">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Accept delete Employee </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Do you want to delete ???</h5>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-secondary" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-danger btn-ok" id="delete" value="Delete">
                    <input type="hidden" id="contractId" name="id">
                </div>
            </div>
        </form>

    </div>
</div>

<script>
    function showModal(id) {
        document.getElementById("contractId").value = id;
    }
</script>
</body>
</html>