<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/customer/layout :: head">
</head>
<body>
<h3>Customer</h3>


<p>
    <a th:href="@{/customer/create}">
        Add new Customer
    </a>
</p>
<p>
    <a th:href="@{/province}">
        Come Province
    </a>
</p>
<form>
    Search by first name:
    <input name="search" type="text"/>
    <input type="submit" value="Search"/>
</form>

<div class="notify">
    <div th:if="${message}">
        <span th:text="${message}"></span>
    </div>
</div>

<table id="products">
    <thead>
    <tr>
        <th>STT</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Province</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>View</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row, state : ${customers}">
        <td th:text="${state.count}"></td>
        <td th:text="${row.firstName}"></td>
        <td th:text="${row.lastName}"></td>
        <td th:each="item : ${provinceList}" th:if="${item.id}" th:text="${item.name}"></td>

        <td><a th:href="@{/customer/{id}/edit(id=${row.id})}">edit</a></td>
        <td><a th:href="@{/customer/{id}/delete(id=${row.id})}">delete</a></td>
        <td><a th:href="@{/customer/{id}/view(id=${row.id})}">view</a></td>
    </tr>
    </tbody>
</table>
<div>
    <a th:href="@{/customer(page=${customers.number - 1})}" th:if="${customers.hasPrevious()}">Previous</a>
    <span th:text="${customers.number + 1}"></span>/<span th:text="${customers.totalPages}"></span>
    <a th:href="@{/customer(page=${customers.number + 1})}" th:if="${customers.hasNext()}">Next</a>
</div>
<footer th:replace="/customer/layout :: footer"></footer>
</body>
</html>