<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div th:insert="~{layout::hearder}">
</div>
<div><a href="/customer/create" > CREATE CUSTOMER</a></div>

<table border="1">
    <tr>
        <th>STT</th>
        <th>Id</th>
        <th>Name</th>
        <th>Date of birth</th>
        <th>Gender</th>
        <th>Address</th>
        <th>View</th>
    </tr>
   <tr th:each="row , state : ${customerList}">
       <td th:text="${state.count}"/>
       <td th:text="${row.id}"/>
       <td th:text="${row.name}"/>
       <td th:text="${row.dateOfBirth}"/>
       <td th:switch="${row.gender}">
            <span th:case="0">Female</span>
            <span th:case="1">Male</span>
            <span th:case="*">Other</span>
       </td>
       <td th:text="${row.address}"/>
       <td><a th:href="@{/customer/detail(id=${row.id})}">Detail Customer</a></td>
   </tr>
</table>


<div
th:insert="~{layout :: footer}">

</div>
</body>
</html>